<div class="messages">

<% @messages.sort.each.with_index(1) do |message, _index| %>

  <%= render partial: 'messages/message',
    locals: { message_text: message.text,
              timestamp:    message.created_at.strftime('%H:%M:%S'),
              username:     message.user.username,
              edited:       edited_message?(message.id),
              id:           message.id } %>

  </p>

<% end %>
</div>

