</p> Change the name or password for <%= params[:id] %> </p>

<form>
Current password:
<input type="password" name="room_pwd">
<br>
New name:
<input type="text" name="new_name">
<br>
New password:
<input type="password" name="new_room_pwd">
<input type="submit" name="submit" value="continue">
</form>
