<p>hey, <%= session[:user] %>!</p>

<form>
New Chatroom:
<input type="text" name="id">
<input type="text" name="pass">
<input type="submit" value="continue">
</form>

<p>
<% Room.all.as_json.each_index do |index| %>
	<a href="/chatroom/<%= access_room(index) %>"><%= access_room(index) %></a>
	<br>
<% end %>
</p>
