<%= link_to 'Edit', "/chatrooms/#{session[:id]}/messages" %>
<div style="height: 300px" class="chat-log">
	<p>
		<% @messages.each do |message| %>

			<%= "[#{message.created_at.strftime("%H:%M")}]
			#{message.user.username}: #{message.text}" %>

			<br>
		<% end %>

	</p>
</div>

<form action="/chatrooms/:id/messages/new" id="form">
<input type="text" name="message">
<input type="submit" value="send">
</form>
