<div class="sign-in">
	<p class="title">Sign up to Talkbox</p>
	<p class="errors"><%= session[:err] %></p>

	<form action="/users" method="post">
		<input type="text" name="username" placeholder="username" class="login">
		<br>
		<input type="password" name="password" placeholder="password" class="login">
		<br>
		<input type="submit" name="submit" value="continue" class="login">
	</form>

	<% clear_errors %>
</div>
