<form>
<input type="text" name="username">
<br>
<input type="password" name="password">
<br>
<input type="submit" value="continue" onclick="myFunction()">
</form>
<!-- <button onclick="myFunction()">Try it</button> -->
<script>
function myFunction() {
    alert("test");
}
</script>
