<div class="centered">
	<p>This room is protected with password. To enter the room, please fill in the password.</p>

	<form>
	<input type="password" name="room_pwd" placeholder="Password">
	<input type="submit" value="Continue">
	</form>
</div>

