<!DOCTYPE html>
<html>
<head>
  <title>Talkbox</title>
  <link rel="shortcut icon" href="http://www.iconarchive.com/download/i63342/cornmanthe3rd/plex/Communication-messenger-3.ico">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


